PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/tambola_pulse
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm1234567890
CLIENT_URL=http://localhost:5173
OTP_TTL_MINUTES=5
UPI_ID=7982239573@upi
MERCHANT_NAME=Tambola Pulse Gaming Escrow
